@page "/"
@using CoinConstraint.Client.Infrastructure.Extensions
@inject IBudgetingService BudgetingService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@attribute [Authorize]

<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="_isSmallScreen" />
<MediaQuery Media="@Breakpoints.OnlyMedium" @bind-Matches="_isMediumScreen" />
<MediaQuery Media="@Breakpoints.LargeUp" @bind-Matches="_isLargeScreen" />

<LoadSpinnerComponent @ref="_loadSpinner"></LoadSpinnerComponent>

<ExpenseDetailComponent @ref="_expenseModal"
                        ExpenseAdded=HandleNewExpense
                        ExpenseUpdated=HandleUpdatedExpenses>
</ExpenseDetailComponent>

<BudgetsModalComponent @ref="_budgetsModal"
                       Budgets="_budgets"
                       BudgetAdded=HandleNewBudget
                       BudgetCloneRequested=HandleBudgetClone
                       BudgetModified=HandleUpdatedBudgets
                       BudgetDeleted=HandleDeletedBudget
                       BudgetsSaveRequested="@(async() => await SaveBudgets())">
</BudgetsModalComponent>

<NoteModalComponent @ref="_noteModal" NoteAdded=HandleNewNote />

@if (_pageIsLoaded)
{
    <Field Horizontal="true" Margin="Margin.Is1.FromLeft">
        <Label Margin="Margin.Is4.FromRight.Is2.FromTop">Budgets</Label>
        <FieldBody>
            <SelectList TItem=Budget
                    TValue="int?"
                    Data=@this.BudgetsForDropdown
                    TextField=@((budget) => budget.Title)
                    ValueField=@((budget) => budget.ID)
                    SelectedValue=@_selectedBudget.ID
                    SelectedValueChanged=@(async(budgetID) => await HandleBudgetChange(budgetID))>
            </SelectList>
        </FieldBody>
        <Button Margin="Margin.Is2.OnY.OnMobile.Is0.FromTop.OnTablet.Is2.Is4.FromLeft"
            Color="Color.Primary"
            Size="Size.ExtraSmall"
            Clicked=OpenBudgetManagementModal>
            <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Large" Name="@("fas fa-clipboard-list")"></Icon>
            @if (_isSmallScreen)
            {
                <span>Manage</span>
            }
            else
            {
                <span>Manage Budgets</span>
            }
        </Button>
    </Field>

    <ExpenseDatagridComponent ExpenseDeleted=HandleDeletedExpense
                          ExpenseDetailRequested="@((expense) => OpenExpenseDetailModal(expense))"
                          NewExpenseDetailRequested=OpenExpenseDetailModal
                          ExpensePaymentRequested="@(async(expense) => await OpenPaymentURLAsync(expense))"
                          SelectedBudget=_selectedBudget
                          SelectedExpense=_selectedExpense>
    </ExpenseDatagridComponent>

    <Row>
        <Column ColumnSize=ColumnSize.Is4.OnTablet.Is3.OnWidescreen>
            <NoteDatagridComponent NewNoteModalRequested=OpenNoteModalForNewNote
                               NoteDeletionRequested="@((note) => DeleteNote(note))"
                               Notes=_selectedBudget.Notes>
            </NoteDatagridComponent>
        </Column>

        <Column ColumnSize=ColumnSize.Is4.OnTablet.Is3.OnWidescreen>
            <div>
                <Card Margin="Margin.Is4.OnY">
                    <CardHeader>Totals</CardHeader>
                    <Row>
                        <Field Margin="Margin.Is4.FromLeft.Is2.FromTop" ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                            <Label Class="index-page-total-label" Margin="Margin.Is4.FromRight.Is2.FromTop">Budget Amount</Label>
                            <FieldBody>
                                <TextEdit MaskType="MaskType.Numeric" Size="Size.Small" Text="@_budgetAmountText" TextChanged=HandleBudgetAmountChange></TextEdit>
                            </FieldBody>
                        </Field>

                        <Field Margin="Margin.Is1.FromLeft.Is2.FromTop" ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                            <Label Class="index-page-total-label" Margin="Margin.Is4.FromRight.Is2.FromTop">Expensed Amount</Label>
                            <FieldBody>
                                <TextEdit Size="Size.Small" MaskType="MaskType.Numeric" Disabled="true" Text="@_selectedBudget.ExpensedAmount.ToString()"></TextEdit>
                            </FieldBody>
                        </Field>
                    </Row>
                </Card>
            </div>
        </Column>

        <Column ColumnSize=ColumnSize.Is4.OnTablet.Is3.OnWidescreen>
            <BudgetTotalsSectionComponent BudgetAmount="@_selectedBudget.BudgetedAmount" 
                                          ExpensedAmount="@_selectedBudget.ExpensedAmount" 
                                          BudgetAmountChanged="@(() => _isDirty = true)">
            </BudgetTotalsSectionComponent>
        </Column>
    </Row>

    <Button Size=Size.Medium Clicked="@(async() => await SaveChanges())" Margin="Margin.Is4.FromBottom.Is2.FromRight" Padding="Padding.Is2.OnX.Is1.OnY" Color="Color.Primary"><Icon Name="IconName.Save" /> Save</Button>
}

