<Modal @ref="_budgetsModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Budgets</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>

        <ModalBody>

            <BudgetDetailModalComponent @ref="_budgetDetailModal"
                            NewBudgetAdded=HandleNewBudget
                            BudgetModified=HandleModifiedBudget>
            </BudgetDetailModalComponent>

            <DataGrid TItem="Budget"
                      @bind-SelectedRow="@_selectedBudget"
                      Data="@Budgets"
                      CommandMode="DataGridCommandMode.Default"
                      Filterable="false"
                      Editable="true"
                      EditMode="DataGridEditMode.Popup"
                      FilterMethod="DataGridFilterMethod.StartsWith"
                      PageSize="10"
                      RowRemoved="@HandleDeletedBudget"
                      ShowPageSizes="false"
                      ShowPager="true">

                <DataGridColumns>
                    <DataGridColumn TItem="Budget" Editable="true" Field="@nameof(Budget.Title)" Caption="Name" Sortable="false" />

                    <DataGridColumn TItem="Budget" Editable="true" Field="@nameof(Budget.StartDate)" Caption="Start Date" Sortable="false">
                        <DisplayTemplate>
                            @($"{( context as Budget )?.StartDate.Date.ToString("MM/dd/yyyy")}")
                        </DisplayTemplate>
                    </DataGridColumn>

                    <DataGridColumn TItem="Budget" Editable="true" Field="@nameof(Budget.EndDate)" Caption="End Date" Sortable="false">
                        <DisplayTemplate>
                            @($"{( context as Budget )?.EndDate.Date.ToString("MM/dd/yyyy")}")
                        </DisplayTemplate>
                    </DataGridColumn>

                    <DataGridColumn TItem="Budget" Editable="false" Field="@nameof(Budget.ID)" Width=125px ShowCaption=false Sortable="false">
                        <DisplayTemplate>
                            <Button Size="Size.ExtraSmall" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is4.FromLeft"  Color="Color.Secondary" Clicked="@(() => CloneBudget(context))">
                                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("far fa-copy")"></Icon>Clone
                            </Button>
                        </DisplayTemplate>
                    </DataGridColumn>

                    <DataGridCommandColumn TItem="Budget">
                        <EditCommandTemplate>
                            <Button Size="Size.ExtraSmall" Padding="Padding.Is3.OnX.Is1.OnY" Margin="Margin.Is4.FromRight.Is0.FromLeft"  Color="Color.Secondary" Clicked="@(() => EditBudget(context.Item))">
                                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-pen")"></Icon>@context.LocalizationString
                            </Button>
                        </EditCommandTemplate>
                        <DeleteCommandTemplate>
                            <Button Size="Size.ExtraSmall" Margin="Margin.Is2.OnX" Padding="Padding.Is2.OnX.Is1.OnY" Color="Color.Secondary" Clicked="context.Clicked">
                                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-trash-alt")"></Icon>@context.LocalizationString
                            </Button>
                        </DeleteCommandTemplate>
                        <NewCommandTemplate></NewCommandTemplate>
                    </DataGridCommandColumn>
                </DataGridColumns>

                <ButtonRowTemplate>
                    <Button Size="Size.Small" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is1.FromRight" Color="Color.Success" Clicked="@(() => AddNewBudget())"><Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-plus-square")"></Icon>Add Budget</Button>
                </ButtonRowTemplate>
            </DataGrid>
        </ModalBody>

        <ModalFooter>
            <Button Size="Size.Medium" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is1.FromRight" Color="Color.Primary" Clicked="@(async() => await Save())"><Icon Margin=Margin.Is2.FromRight Name="IconName.Save" />Save</Button>
            <Button Size="Size.Medium" Padding="Padding.Is2.OnX.Is1.OnY" Margin="Margin.Is1.FromRight" Color="Color.Secondary" Clicked="@(() => _budgetsModal.Hide())">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>