<div>
    <Card Margin="Margin.Is4.OnY">
        <CardHeader>
            Notes
        </CardHeader>
        <CardBody Padding="Padding.Is0.FromBottom">
            <Div Style="height: 250px; overflow: scroll">
                <DataGrid TItem="Note"
                        @bind-SelectedRow="@this.SelectedNote"
                        Class="budget-notes"
                        Data="@this.Notes"
                        CommandMode="DataGridCommandMode.ButtonRow"
                        Filterable="false"
                        Editable="true"
                        EditMode="DataGridEditMode.Inline"
                        PageSize="this.Notes.Count"
                        RowRemoved="StateHasChanged"
                        RowDoubleClicked="@(async(e) => await RequestExistingNoteModal(e.Item))"
                        ShowPageSizes="false"
                        ShowCaptions="false"
                        ShowPager="false">

                    <DataGridColumns>
                        <DataGridColumn TItem="Note" Editable="true" Field="@nameof(Note.NoteText)" Sortable="false">
                            <DisplayTemplate>
                                @(context.NoteText.Truncate(50))
                            </DisplayTemplate>
                        </DataGridColumn>
                    </DataGridColumns>
                </DataGrid>
            </Div>  
            <Button Margin=Margin.Is3.FromTop.Is2.FromBottom.Is3.FromRight Size=Size.ExtraSmall Clicked="async() => await RequestNewNoteModal()" Color=Color.Success>
                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-plus-square")"></Icon>Add Note
            </Button>
            <Button Size="Size.ExtraSmall" Color="Color.Secondary" Margin=Margin.Is3.FromTop.Is2.FromBottom.Is3.FromRight Clicked="@(async() => await RequestExistingNoteModal(this.SelectedNote))" Padding="Padding.Is2.OnX.Is1.OnY" >
                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-pen")"></Icon>Edit/View Note
            </Button>
            <Button Size="Size.ExtraSmall" Color="Color.Secondary" Margin=Margin.Is3.FromTop.Is2.FromBottom Clicked="async() => await RequestNoteDeletion()" Padding="Padding.Is2.OnX.Is1.OnY" >
                <Icon Margin=Margin.Is2.FromRight IconSize="IconSize.Small" Name="@("fas fa-trash-alt")"></Icon>Delete Note
            </Button>
        </CardBody>
    </Card>
</div>
